{% extends "homepage.html" %}

<title>{% block title %} Criar Conta - Fake Pinterest {% endblock %}</title>
{% block formulario_login %}
<form method="POST">
      <!-- p csrf_token é um mecanismo de segurança que valida o meu formulario  -->
      {{ form.csrf_token }}
        {{ form.email.label() }}
        {{ form.email() }}

        {{ form.username.label() }}
        {{ form.username() }}

        {{ form.password.label() }}
        {{ form.password() }}
        {{ form.password_confirm.label()}}
        {{form.password_confirm()}}

        {{ form.confirm_button()}}
{% endblock %}