<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} FakePinterest {% endblock %}</title>
  </head>
  {% block body %}
  <body>
    <h1>"Fake Pinterest - Site no ar"</h1>
    <h2>Continuando desenvolvimento...</h2>

    {% block formulario_login %}
    <form method="POST">
      <!-- p csrf_token é um mecanismo de segurança que valida o meu formulario  -->
      {{ form.csrf_token }}
        {{ form.email.label() }}
        {{ form.email() }}

        {{ form.password.label() }}
        {{ form.password() }}

        {{ form.confirm_button()}}

    </form>
        {% endblock %}
  </body>
  {% endblock %}
</html>
